@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

.nombre{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    font-weight:100;
    line-height: 4vh;
}

.envioGratis{
    color:Green;
}

.envioGratis img{
    height: 4vh;
    padding-top:1%;
}

.envioGratis p, .envioPago p    {
    padding-top: 2%;
    font-size: 0.8em;
}

.envioPago{
    color: Orange;
}

.precio{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.3em;
}

.vendidos{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

.imgDetalle{
    height:50vh;
    width:25vw;
}

.btn-outline-primary{
    color: blue;
    border-color: blue;
}

.btn-outline-primary:hover{
    background-color: blue;
}

.marcaModelo{
    line-height: 0.1vh;
}

.descripcion{
    font-size: 0.9rem;
}

@import 'leaflet/dist/leaflet.css';

.leaflet-container {  width: 80vw;  height: 80vh; }


body{
    background-image: url(../assets/img/background.jpg);
    background-size: cover;
}


.logoHendrix, .nav{
        font-family: 'Pirata One', cursive;
}

.donde, .quienes{
    font-family: 'Open Sans', sans-serif;
}

.detalle img{
    transition: all 1s;
}

.detalle img:hover{
    width: 12vw;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
}

.nav a{
    transition: font-size 0.6s;
}

.nav a:hover{
    font-size: 1.1rem;
}